include CHANGELOG.md LICENSE README.md tox.ini
include flask_mail.py unchained_config.py
recursive-include flask_unchained *.py
recursive-include flask_unchained *.html
recursive-include flask_unchained *.mo
recursive-include flask_unchained *.cfg
