alembic
apispec
bcrypt
beautifulsoup4
blinker>=1.4
celery
click>=6.7
dill
flask>=0.12
flask-admin
flask_babelex>=0.9.3
flask-login
flask-marshmallow
flask_migrate
flask-principal
flask-session
flask-sqlalchemy-unchained
flask_wtf
ipython
itsdangerous
jinja2
lxml
marshmallow
marshmallow-sqlalchemy
networkx>=2.1
passlib
py-meta-utils
py-yaml-fixtures
pyqt5
speaklater
sqlalchemy
qtconsole
werkzeug
