alembic==1.3.2
apispec==3.1.1
bcrypt==3.1.7
beautifulsoup4==4.8.1
blinker==1.4
celery==4.4.0
click==7.0
dill==0.3.1.1
flask==1.1.1
flask-admin==1.5.4
flask_babelex==0.9.3
flask-graphql==2.0.1
flask-login==0.4.1
flask-marshmallow==0.10.1
flask_migrate==2.5.2
flask-principal==0.4.0
flask-session==0.3.1
flask-sqlalchemy-unchained==0.7.3
flask_wtf==0.14.2
graphene==2.1.8
graphene-sqlalchemy==2.2.2
IPython==7.10.2
itsdangerous==1.1.0
jinja2==2.10.3
lxml==4.4.2
markupsafe==1.1.1
marshmallow==3.3.0
marshmallow-sqlalchemy==0.21.0
networkx==2.4
passlib==1.7.2
py-meta-utils==0.7.6
py-yaml-fixtures==0.5.0
pyqt5==5.14.0
speaklater==1.3
sqlalchemy==1.3.12
sqlalchemy-unchained==0.9.1
qtconsole==4.6.0
werkzeug==0.16.0
