alembic==1.0.1
apispec==0.39.0
bcrypt==3.1.4
beautifulsoup4==4.6.3
blinker==1.4
celery==4.2.1
click==7.0
dill==0.2.8.2
flask==1.0.2
flask-admin==1.5.1
flask_babelex==0.9.3
flask-graphql==2.0.0
flask-login==0.4.1
flask-marshmallow==0.9.0
flask_migrate==2.2.1
flask-principal==0.4.0
flask-session==0.3.1
flask-sqlalchemy-unchained==0.6.9
flask_wtf==0.14.2
graphene==2.1.3
graphene-sqlalchemy==2.1.0
IPython==7.1.1
itsdangerous==1.1.0
jinja2==2.10
lxml==4.2.4
markupsafe==1.0
marshmallow==2.16.1
marshmallow-sqlalchemy==0.15.0
networkx==2.2
passlib==1.7.1
py-meta-utils==0.7.3
py-yaml-fixtures==0.3.2
pyqt5==5.11.2
speaklater==1.3
sqlalchemy==1.2.12
sqlalchemy-unchained==0.6.9
qtconsole==4.4.0
werkzeug==0.14.1
