<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Flask Unchained{% endblock %}</title>

    {% block stylesheets %}
    {% endblock stylesheets %}

    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body>
    {% block body %}
      {% block flashes %}
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
      {% endblock %}

      {% block content %}
      {% endblock content %}
    {% endblock body %}

    {% block javascripts %}
    {% endblock javascripts %}
  </body>
</html>
