{% macro render_field_with_errors(field) %}
  <div class="form-group">
    {{ field.label }} {{ field(class_='form-control {% if field.errors %}is-invalid{% endif %}', **kwargs)|safe }}
    {% if field.errors %}
      <div class="errors">
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(class_='form-control', **kwargs)|safe }}</p>
{% endmacro %}

{% macro render_checkbox_field(field) -%}
  <div class="form-group form-check">
    {{ field(type='checkbox', class_='form-check-input', **kwargs) }}
    {{ field.label(class_='form-check-label') }}
  </div>
{%- endmacro %}

{% macro form_errors(form) %}
  {% set errors = form.errors.get('_error', []) %}
  {% if errors %}
    <div class="errors">
    {% for error in errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
