{% extends admin_base_template %}

{% import 'admin/column_formatters.html' as column_formatters with context %}

{% block head_tail %}
  {{ super() }}
  <link href="{{ url_for('admin_bundle.static', filename='admin.css') }}" rel="stylesheet">
{% endblock %}

{% block access_control %}
  <ul class="nav navbar-nav navbar-right">
    <a class="nav-link" href="{{ url_for("admin.logout") }}">Logout</a>
  </ul>
{% endblock %}

{# configure jQuery to automatically send the CSRF token on AJAX requests #}
{# (necessary for e.g. list-editable forms and related-model popup forms) #}
{% block tail %}
  {{ super() }}
  <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
      }
    });
  </script>
{% endblock %}
